<div class="container">

  <app-alert [alerta]="mensagem"  [ehVisivel]="ehVisivel" ></app-alert>

  <h4 class="text-info">Catálogo de Motos</h4>

  <form  >

    <div class="form-row" [formGroup]="formMotos">

      <div class="form-group col-md-6"  >
        <label for="inModelo">Modelo</label>
        <input [(ngModel)]="obj.modelo" type="text" class="form-control" id="inModelo" name="inModelo" formControlName="modelo">

        <!-- <div *ngIf="formMotos.get('modelo').invalid && (formMotos.get('modelo').dirty || formMotos.get('modelo').touched)" class="alert alert-danger"> O modelo é obrigatórioxxx </div> -->

        <app-error-msg text="O campo Modelo deve ser preenchido." *ngIf="formMotos.get('modelo').invalid && (formMotos.get('modelo').dirty || formMotos.get('modelo').touched)" ></app-error-msg>
        <app-error-msg text="O campo Modelo deve ser maior que 5 caracteres." *ngIf="formMotos.get('modelo').hasError('minlength')"></app-error-msg>
        <app-error-msg text="O campo Modelo deve ser menor que 30 caracteres." *ngIf="formMotos.get('modelo').hasError('maxLength')"></app-error-msg>

      </div>


      <div class="form-group col-md-3" >
        <label for="inAno">Ano</label>
        <input [(ngModel)]="obj.ano" type="text" class="form-control" id="inAno" name="inAno" formControlName="ano">

        <!--<div *ngIf="formMotos.get('ano').invalid && (formMotos.get('ano').dirty || formMotos.get('ano').touched)" class="alert alert-danger"> O Ano é obrigatórioyyy </div>-->

        <app-error-msg text="O campo Ano deve ser preenchido." *ngIf="formMotos.get('ano').invalid && (formMotos.get('ano').dirty || formMotos.get('ano').touched)" ></app-error-msg>

      </div>


      <div class="form-group col-md-3">
        <label for="inCor">Cor</label>
        <input [(ngModel)]="obj.cor" type="text" class="form-control" id="inCor" name="inCor" formControlName="cor">

        <!-- <div *ngIf="formMotos.get('cor').invalid && (formMotos.get('cor').dirty || formMotos.get('cor').touched)" class="alert alert-danger"> A Cor é obrigatóriozzz </div> -->

        <app-error-msg text="O campo Cor deve ser preenchido." *ngIf="formMotos.get('cor').invalid && (formMotos.get('cor').dirty || formMotos.get('cor').touched)" ></app-error-msg>

      </div>

    </div>

    <div class="form-row">
      <button type="button" class="btn btn-success mr-md-2" (click)="adicionar()">Adcionar</button>
      <button type="button" class="btn btn-warning mr-md-2" (click)="alterar()">Alterar</button>
      <button type="button" class="btn btn-danger mr-md-2" (click)="excluir()">Excluir</button>
      <button type="button" class="btn btn-info mr-md-2" (click)="limpar()">Limpar</button>


    </div>

    <p></p>
    <div class="form-row">
      <div class="col-6" *ngFor="let f of listaMotos">
        <div class="card">
          <div class="card-block">

            <h5 class="card-title"> <a class="btn btn-outline-warning btn-sm glyphicon glyphicon-pencil" routerLinkActive="active" (click)="selecionar(f)" >  ID: {{f.id}} </a> </h5>

            <h6 class="card-title">Modelo: {{f.modelo}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Ano: {{f.ano}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Cor: {{f.cor}}</h6>
          </div>
        </div>
      </div>
    </div>

<!--
    <div class="card">
      <div class="card-body">
        <table class="table">
          <th scope="col"> Código </th>
          <th scope="col"> Nome </th>
          <th scope="col"> ... </th>
          <tr *ngFor="let f of lista">
            <td>{{f.id}}</td>
            <td>{{f.modelo}}</td>
            <td><button type="button" class="btn btn-secondary" (click)="consultar(f)">Carregar</button></td>
          </tr>
        </table>
      </div>
    </div>
-->

  </form>

</div>
